<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.AutoGenerate.dao.CommAttachmentMapper">

    <resultMap id="commAttachment" type="com.AutoGenerate.entity.CommAttachment">
		<result property="id" javaType="Integer" column="id" />
		<result property="title" javaType="String" column="title" />
		<result property="fileUrl" javaType="String" column="fileUrl" />
		<result property="createdAt" javaType="Date" column="createdAt" />
		<result property="fileType" javaType="String" column="fileType" />
		<result property="fileSize" javaType="String" column="fileSize" />
    </resultMap>


    <select id="paging" resultMap="commAttachment">
    	 select * from CommAttachment limit #{0},#{1}
    </select>

    <insert id="insert" >
    	insert into CommAttachment(title,fileUrl,createdAt,fileType,fileSize) values (#{title},#{fileUrl},#{createdAt},#{fileType},#{fileSize})
    </insert>

    <delete id="delete">
    	delete from CommAttachment where id= #{0}
    </delete>
	
	<update id="update">
		UPDATE CommAttachment set title = #{title},fileUrl = #{fileUrl},createdAt = #{createdAt},fileType = #{fileType},fileSize = #{fileSize} WHERE id = #{id}
	</update>

    <select id="getById" resultMap="commAttachment">
    	select * from CommAttachment WHERE id = #{0}
    </select>

    <select id="selectCount" resultType="int">
        select count(id) from CommAttachment
    </select>
	
</mapper>